table.table
  thead
    tr
      th(scope="col") #
      th(scope="col") Booking ID
      th(scope="col") Tên KH
      th(scope="col") Email KH 
      th(scope="col") Tour
      th(scope="col") Ngày Booking
      th(scope="col") Số người
      th(scope="col") Thanh toán (₫)
      th(scope="col") 
  tbody
    each booking, index in objects
      tr
        td(scope="row")= (pagination.currentPage - 1) * pagination.rowsPerPage + index + 1
        td(scope="row")= `${booking.id}`
        td= `${booking.user.name}`
        td= `${booking.user.email}`
        td= `${booking.tour.name}`
        td= `${booking.createdAt.toLocaleString('vi', {day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})}`
        td= `${booking.quantity}`
        td= `${(booking.tour.price * (1 - booking.tour.priceDiscount / 100) * booking.quantity).toLocaleString('vi-VN')}`
        td.d-flex.gap-1
          button.btn.btn-outline-info(type="button", data-bs-toggle="modal", data-bs-target="#exampleModalBookingDetails", data-booking=booking)
            svg#i-eye(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 30 30", width="14", height="14", fill="none", stroke="currentcolor", stroke-linecap="round", stroke-linejoin="round", stroke-width="2")
              circle(cx="17", cy="15", r="1")
              circle(cx="16", cy="16", r="6")
              path(d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z")
          button.btn.btn-outline-danger(type="button", data-bs-toggle="modal", data-bs-target="#exampleModalDeleteBooking", data-booking=booking)
            svg#i-trash(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 30 30", width="14", height="14", fill="none", stroke="currentcolor", stroke-linecap="round", stroke-linejoin="round", stroke-width="2")
              path(d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6")


script.
  document.addEventListener('DOMContentLoaded', (event) => {
    $(document).on('show.bs.modal', event => {
      if(event.target.id === 'exampleModalBookingDetails') {
        const exampleModal = document.getElementById('exampleModalBookingDetails')
        const button = event.relatedTarget
        const booking = JSON.parse(button.getAttribute('data-booking'))
        console.log(booking.id)
        
        const bookingUserId = exampleModal.querySelector('.modal-body input#bookingUserId')
        const bookingUserName = exampleModal.querySelector('.modal-body input#bookingUserName')
        const bookingUserEmail = exampleModal.querySelector('.modal-body input#bookingUserEmail')
        const bookingTourId = exampleModal.querySelector('.modal-body input#bookingTourId')
        const bookingTourName = exampleModal.querySelector('.modal-body input#bookingTourName')
        const bookingTourStartDate = exampleModal.querySelector('.modal-body input#bookingTourStartDate')
        const bookingTourDuration = exampleModal.querySelector('.modal-body input#bookingTourDuration')
        const bookingTourPrice = exampleModal.querySelector('.modal-body input#bookingTourPrice')
        const bookingTourPriceDiscount = exampleModal.querySelector('.modal-body input#bookingTourPriceDiscount')
        const bookingTourQuantity = exampleModal.querySelector('.modal-body input#bookingTourQuantity')
        const bookingTourPayment = exampleModal.querySelector('.modal-body input#bookingTourPayment')
        const bookingTourDate = exampleModal.querySelector('.modal-body input#bookingTourDate')
        const bookingTourStatus = exampleModal.querySelector('.modal-body input#bookingTourStatus')

        bookingUserId.value = `${booking.user._id}`
        bookingUserName.value = `${booking.user.name}`
        bookingUserEmail.value = `${booking.user.email}`
        bookingTourId.value = `${booking.tour._id}`
        bookingTourName.value = `${booking.tour.name}`
        bookingTourStartDate.value = `${new Date(booking.tour.startDate).toLocaleString('vi', {day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})}`
        bookingTourDuration.value = `${booking.tour.duration} ngày ${booking.tour.duration - 1} đêm`
        bookingTourPrice.value = `${booking.tour.price.toLocaleString('vi-VN')} ₫`
        bookingTourPriceDiscount.value = `${booking.tour.priceDiscount} %`
        bookingTourQuantity.value = `${booking.quantity}`
        bookingTourPayment.value = `${(booking.tour.price * (1 - booking.tour.priceDiscount / 100) * booking.quantity).toLocaleString('vi-VN')} ₫`
        bookingTourDate.value = `${new Date(booking.createdAt).toLocaleString('vi', {day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})}`
        if(booking.active) {
          bookingTourStatus.value = `Đang hoạt động`;
          bookingTourStatus.style.color = 'green';
        } else {
          bookingTourStatus.value = `Đã kết thúc`;
          bookingTourStatus.style.color = 'red';
        }
        var btnReviewTour = document.getElementById('btnReviewTour');
        btnReviewTour.href = `/tour/${booking.tour.slug}`;
        btnReviewTour.target = "_blank";
      
      } else if (event.target.id === 'exampleModalDeleteBooking') {

        exampleModal = document.getElementById('exampleModalDeleteBooking')
        const button = event.relatedTarget
        const booking = JSON.parse(button.getAttribute('data-booking'))
        console.log(booking.id)

        exampleModal.querySelector('.modal-body label#deleteBookingId').innerHTML = `${booking.id}`;
        if(booking.active) {
        exampleModal.querySelector('.modal-body label#confirmDeleteBooking1').style.display = 'none';
        exampleModal.querySelector('.modal-body label#confirmDeleteBooking2').style.display = 'none';
        exampleModal.querySelector('.modal-body button#deleteBooking').style.display = 'none';
        exampleModal.querySelector('.modal-body span#deleteBookingNoti').style.display = 'block';
        
        } else {
          exampleModal.querySelector('.modal-body label#confirmDeleteBooking1').style.display = 'block';
          exampleModal.querySelector('.modal-body label#confirmDeleteBooking2').style.display = 'block';
          exampleModal.querySelector('.modal-body button#deleteBooking').style.display = 'block';
          exampleModal.querySelector('.modal-body span#deleteBookingNoti').style.display = 'none';
        }
      }
    });
  })



