extends base

mixin navItem(link, text, icon, currentPath)
  - const active = currentPath == link;
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(class=`${text == 'Đăng xuất' ? 'nav__el--logout' : ''}`, href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main_account
    .admin-view
      nav.account-view__menu
        ul.side-nav
          +navItem('/my-settings', 'Cài đặt', 'settings', currentPath)
          - if (user.role != 'admin')
            +navItem('/my-tours', 'Tour của tôi', 'briefcase', currentPath)
            +navItem('#', 'Đánh giá', 'star')
            +navItem('/my-bills', 'Hoá đơn', 'credit-card', currentPath)

          .account-nav
            h5.account-nav__heading 
            ul.side-nav
              +navItem('#', 'Đăng xuất', 'power')

      .admin-view__content
        block content_account
        